%h2 Similar Movies

%table.table-striped.col-md-10#movies
  %thead
    %tr
      %th{:class => @title_header}= link_to 'Movie Title', movies_path(:sort => 'title', :ratings => @selected_ratings), :id => 'title_header'

  %tbody
    - @same_director_movies.each do |movie|
      %tr
        %td= movie
